**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.idea
**/*.user
**/*.suo
**/bin
**/obj
**/node_modules
**/*.db
**/*.db-shm
**/*.db-wal
**/dist
**/logs
**/.vite
Dockerfile
docker-compose.yml
.dockerignore
