#rider
.idea/
#misc
/gitbuddy-vue/.vscode/extensions.json
# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
*.db
gitbuddy.db
gitbuddy.db-shm
gitbuddy.db-wal

# Vue
gitbuddy-vue/node_modules/
gitbuddy-vue/dist/
gitbuddy-vue/.DS_Store
gitbuddy-vue/.vite/

# Environment
.env
.env.local
.env.*.local
